.HeaderMain {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100px;
  padding: 8px 16px;
  position: fixed;
  background-color: #323232;
  backdrop-filter: blur(10px);
  opacity: 0.7;
  z-index: 2;

  .HeaderLogo {
    width: 305px;
  }

  .InputFilterMain {
    display: flex;
    font-size: 18px;
    width: 413px;
    height: 70px;
    padding: 0px 40px;
    background-color: #363636;
    border-radius: 10px;
  }

  .InputFilter {
    background-color: transparent;
    border: none;
    outline: none;
    color: #fff;
    font-size: 16px;
    flex: 1;
  }

  .SearchImage {
    color: #aaa;
    width: 20px;
  }
}

.BgImage {
  background-size: cover;
  width: 1900px;
}
