.BtnMain {
  .BtnDetails {
    width: 100%;
    height: 70px;
    cursor: pointer;
    border-radius: 12px;
    border: none;
    color: #000000;
    background-color: #ffa800;
    font-family: DM Sans;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
  }
}
